.clients-icon {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}


.icon-item {
  min-width: 210px;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 480px) {
    min-width: calc(100% / 2 - 30px);
    margin-left: 30px;
    &:nth-child(n + 5) {
        margin-bottom: 0px;
      }

  }

  @media screen and (min-width: 768px) {
    min-width: calc(100% / 3 - 30px);
    margin-left: 30px;
    &:nth-child(n + 4) {
        margin-bottom: 0px;
      }
  }

  @media screen and (min-width: 1200px) {
    min-width: calc(100% / 6 - 30px);
    margin-left: 30px;
    &:not(:last-child) {
        margin-bottom: 0px;
      }
  }
}



.client-link {
  height: 92px;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fill-icon);
  transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color-text);
    border: 1px solid var(--accent-color-text);
  }
}

.clients-logo {
  fill: currentColor;
}