.site-nav,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

/* Логотип */
.header-logo{
  margin: 16px 0px;
}

.site-nav__first-name,
.site-nav__second-name,
.second-white-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  

  width: 134px;
  @media screen and (max-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    width: 145px;
  }
}

.site-nav__first-name {
  color: #2196f3;
  margin-right: -4px;
}

.site-nav__second-name {
  color: var(--secondary-text-color);
}

.second-white-name {
  color: var(--primari-bacground-color);
}
// кнопка мобильного меню

.mob-menu-open{
  margin-left: auto;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--primari-bacground-color);

  @media screen and (min-width: 768px) {
      display: none;
    }
}

.icon-menu-burder{
  &:hover,
    &:focus {
      fill: var(--accent-color-text);
    }
}

/* ссылки на страницы */
.site-nav__link {
  color: var(--secondary-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-nav,
.link:hover,
.site-nav,
.link:focus {
  color: var(--accent-color-text);
}

.site-nav .site-nav__link.current {
  color: var(--accent-color-text);
}

.site-nav__link--current {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    border-radius: 2px;
    background: var(--accent-color-text);
  }
}

.site-nav__link {
  position: relative;
  &:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    border-radius: 2px;
    background: var(--accent-color-text);
  }
}

/* ссылки на контакты */
.contacts__link,
.contacts-link-fut,
.map-link {
  line-height: 1.7;
  list-style: none;
}

.contacts__link {
  color: var(--primary-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color-text);
  }
}



.nav--center {
  display: flex;
  align-items: center;
}

.header-page {
  border-bottom: 1px solid var(--border-color);
}

.site-nav {
  display: none;
  align-items: center;
  

  @media screen and (min-width: 768px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
        @media screen and (min-width: 768px) {
          margin-left: 93px;
          margin-right: auto;
        }
}

.site-nav__text {
  display: flex;
  padding-left: 0;
  
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
    @media screen and (min-width: 768px) {
      
    }
}

.site-nav__item .site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Контакты */
.contacts {
  display: none;
  padding-left: 0px;

  @media screen and (min-width: 768px) {
      display: block;
    }
}

.contacts__item + .contacts__item {
  margin-left: 50px;

  @media screen and (min-width: 768px) {
      margin-left: 0;
    }
}


/* --ICON-HEADER-- */
.contacts__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 8px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color-text);
  }
    @media screen and (min-width: 768px) {
      margin-right: 10px;
    }
}

.contacts__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color-text);
  }

    @media screen and (min-width: 768px) {
      margin-right: 10px;
    }
}

.no-scroll {
  overflow: hidden;
}
