.modal-box {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    

  }

}

.submit-box {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {

    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
  }

}

.soc-spam {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primari-bacground-color);

  @media screen and (min-width: 1200px) {
    margin-left: -350px;
  }
}

.imput-email {
  min-width: 280px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;

  background-color: var(--background-secondery-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:focus {
    border: 1px solid var(--accent-color-text);
    filter: drop-shadow(0px 4px 4px var(--accent-color-text));
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &:not(placeholder) {
    color: var(--primari-bacground-color);
  }

  @media screen and (min-width: 768px) {
    min-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
    margin-bottom: 0px;
  }
}

.submit-btn {
  position: relative;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: none;
  background: var(--accent-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--primari-bacground-color);
  transition: bacground-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--bacground-hover-button);
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}


.name-btn {
  position: absolute;
  left: 29px;
  top: 50%;
  transform: translateY(-50%);

  margin-right: 10px;
}

.modal-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}