.section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);

    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 42px;
        line-height: 1.17;
    }
}
